<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <div *ngIf="!particle.token">
      Please login and select a device. <br />
      <button ion-button (click)="login()">Login</button>
  </div>
  <div *ngIf="particle.token && particle.device">
      <h3>Particle.io Device App Boilerplate</h3>
      <div>
          You are currently viewing {{particle.device.name}}.
      </div>
      <div>
          The value of the device variable "var1" is {{var1}}
      </div>
      <button ion-button (click)="callFunction()">Call a function</button>
  </div>
</ion-content>
